<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8" />
    <title>
        {{ page.title }}
        {% if page.collection %}
        {% capture current %}{{page.collection}}{% endcapture %}
        {% assign col = site.collections | where:'label',current | first %}
            - {{ col.title }}
        {% endif %}
        - ITC Conference
    </title>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css"/>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/custom.css" />
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/responsive.css" />

    <script type="text/javascript" src="{{ site.baseurl }}/assets/js/responsive-nav.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/assets/js/jquery.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/assets/js/parallax.js"></script>

    <meta name="keywords" content />
    <meta name="description" content />
    <meta name="robots" content="index,follow" />

    <link rel="canonical" href="{{ site.domain }}" />
</head>

<body>
    <div class="cont_top parallax-window" data-parallax="scroll" data-image-src="{{ site.baseurl }}/assets/images/bg_top.jpg">
        <header class="header">
            <div class="in">
                <a href="{{ site.baseurl }}/">
                    <img src="{{ site.baseurl }}/assets/images/logo.png" class="logo" alt="">
                </a>
                <div>
                    <div>
                        <p> <strong>International Teletraffic Congress</strong><br/> </p>
                        <h1>
                            The First International Conference in <br/>
                            Networking Science &amp; Practice<br/>
                        </h1>
                    </div>
                    <div style="clear: both;"> </div>
                </div>

                <ul class="nav-collapse nav-collapse-0 closed" aria-hidden="false" style="-webkit-transition: max-height 284ms; transition: max-height 284ms; position: relative;">
                    {% assign pages = site.pages | sort: "menu-index" | where:"menu","top-nav" %}
                    {% for p in pages %}
                    {% unless p.url contains 'page' %}
                    <li>
                        <a href="{{ p.url | relative_url }}">{{ p.title }}</a>
                    </li>
                    {% endunless %}
                    {% endfor %}
                </ul>
                <!--
                    <script>
                        var navigation = responsiveNav(".nav-collapse");
                    </script>
                -->
            </div>
        </header>
    </div>

    <div class="in">
        <aside class="cont_left">
            <ul class="breadcrumb">
                {% unless page.url == "/" %}
                <li class="active"><a href="{{ site.baseurl }}/">Home</a> / </li>
                {% endunless %}

                {% if page.collection %}
                {% capture current %}{{page.collection}}{% endcapture %}
                {% assign col = site.collections | where:'label',current | first %}
                <li class="active">
                    <a href="{{ col.url | relative_url }}"> {{ col.title }} </a> /
                </li>
                {% endif %}

                <li class="current">
                    {{ page.title }}
                </li>
            </ul>
            <div class="neos-contentcollection">
                {{ content }}
            </div>
        </aside>

        <nav class="cont_right">
            <div class="neos-contentcollection">
                <!-- include page specific sidebar -->
                {% if page.sidebar %}
                    {% assign name = page.sidebar %}
                    {% assign c = site.collections | where:'label',name | first %}
                    <div class=" typo3-neos-nodetypes-html">
                        <a class="right_links" href="{{ page.url | relative_url }}"> {{ c.title }} </a>
                        <nav class="typo3-neos-nodetypes-menu">
                            <ul class="{{ page.sidebarstyle | default:'' }}">
                                {% assign docs = c.docs | reverse %}
                                {% for i in docs %}
                                <li class="normal">
                                    <a href="{{ i.url | relative_url }}"> {{ i.title }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </nav>
                    </div>
                    <br/>
                {% endif %}

                <!-- News were removed. Uncomment to enable news sidebar again -->
                {%- comment -%}
                <a class="right_links" href="{{ site.baseurl }}/news.html">What's new?</a>
                <ul class="right_info">
                    {% for i in site.posts limit: 5 %}
                    {% capture postdate %}{{ i.date }}{% endcapture %}
                    <li>
                        <h2><a href="{{ i.url | relative_url }}">{{ i.title }}</a></h2>
                        <span>{% include insertpostdate date=postdate %}</span>
                    </li>
                    {% endfor %}
                </ul>
                {%- endcomment -%}

                <a class="right_links" href="{{ site.baseurl }}">News</a>
                <div style="margin:auto; text-align: center;">
                <a href="https://twitter.com/ITC_Tweets?ref_src=twsrc%5Etfw" class="twitter-follow-button"
                    data-show-count="false" style = "align:center">
                    Follow @ITC_Tweets
                </a>
                </div>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                <div class=" typo3-neos-nodetypes-html">
                    <a class="twitter-timeline"  href="https://twitter.com/ITC_Tweets" data-widget-id="564733179064778752">Tweets von @ITC_Tweets </a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                </div>

                <a class="right_links" href="{{ site.baseurl }}/contact-us.html">Contact Us</a>
            </div>
        </nav>
    </div>


    <footer class="footer">
        <div class="in">
            © 2016 <a href="{{ site.baseurl }}/">itc-conference.org</a>
            {% assign pages = site.pages | sort: "menu-index" | where:"menu","footer-nav" %}
            {% for p in pages %}
                 | <a href="{{ p.url | relative_url }}">{{ p.title }}</a>
            {% endfor %}
            &nbsp;
            <a href="https://twitter.com/ITC_Tweets" alt="Join Us on Twitter!" target="_blank">
                <img src="{{ site.baseurl }}/assets/images/twss_icon.png" width="25" alt="">
            </a>
            &nbsp;
            <a href="https://www.linkedin.com/grp/home?gid=8260384" target="_blank" alt="Join Us on Linked.in!">
                <img src="{{ site.baseurl }}/assets/images/li_icon.png" width="25" alt="">
            </a>
        </div>
    </footer>

    <script>
        // Fixes broken parallax when the page content is shorter than the sidebar.
        window.onload = function() {
            var right=document.getElementsByClassName('cont_right')[0].offsetHeight;
            right += 600; // about the height of the lazy loading twitter timeline
            var left=document.getElementsByClassName('cont_left')[0].offsetHeight;
            // window.alert("right: " + right)
            // window.alert("left: " + left)
            if (right > left)
                document.getElementsByClassName('cont_left')[0].style.height=right + "px";
        };
    </script>
</body>
</html>
