<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8" />
    <title>
        About ITC 31
    </title>
    <link rel="stylesheet" href="assets/css/style.css"/>
    <link rel="stylesheet" href="assets/css/custom.css" />
    <link rel="stylesheet" href="assets/css/responsive.css" />
    
    <script type="text/javascript" src="assets/js/responsive-nav.js"></script>
    <script type="text/javascript" src="assets/js/jquery.js"></script>
    <script type="text/javascript" src="assets/js/parallax.js"></script>
    
    <meta name="keywords" content />
    <meta name="description" content />
    <meta name="robots" content="index,follow" />

    <link rel="canonical" href="https://itc31.org/" />
    
    <!--
    <link rel="alternate" hreflang="en-US" href="https://itc31.org/"/>
    <link rel="alternate" hreflang="en-UK" href="https://itc31.org/uk"/>
    -->
</head>

<body> 
    <div class="cont_top parallax-window" data-parallax="scroll" data-image-src="assets/images/header.jpg">
        <header class="header">
            <div class="in">
                <a href="/">
                    <img src="assets/images/logo.png" class="logo" alt="">
                </a>        
                <div>
                    <div>
                        <h1>
                            <strong>{{ site.conference-name }}</strong><br/>
                            {{ site.conference-date }}, {{ site.conference-location }}<br/>
                        </h1>
                    </div>
                    <div style="clear: both;">
                    </div>
                </div>
                
                <ul class="nav-collapse nav-collapse-0 closed" aria-hidden="false" style="-webkit-transition: max-height 284ms; transition: max-height 284ms; position: relative;">
                    {% assign pages = site.pages | sort: "menu-index" | where:"menu","top-nav" %}
                    {% for p in pages %}
                    <li>
                        <a href="{{ p.url | relative_url }}">{{ p.title }}</a>
                    </li>
                    {% endfor %}
                    <!--
                        <li class="normal">
                            <a href="/">Home</a>
                        </li>
                        <li class="normal">
                            <a href="news.html">News</a>
                        </li>
                        <li class="normal">
                            <a href="authors.html">Authors</a>
                        </li>
                        <li class="normal">
                            <a href="cfp.html">CfP</a>
                        </li>
                        <li class="normal">
                            <a href="registration.html">Registration</a>
                        </li>
                        <li class="normal">
                            <a href="committees.html">Committees</a>
                        </li>
                        <li class="normal">
                            <a href="tpc.html">TPC</a>
                        </li>
                        <li class="normal">
                            <a href="about-itc.html">About ITC</a>
                        </li>
                        <li class="normal">
                            <a href="contact.html">Contact</a>
                        </li>
                    -->
                </ul>
                <!--
                    <script>
                        var navigation = responsiveNav(".nav-collapse");
                    </script>
                -->
            </div>
        </header>
        <!--
            <article class="slider">
                <div>
                    <p></p>
                    <a href="/en/posts.html">Learn More »</a>
                    <div style="clear: both;"></div>
                </div>
            </article>
        -->
    </div>
    <div class="in">
        <aside class="cont_left">
            <!--
                <ul class="breadcrumb">
                    <li class="current">
                        {{ page.title }}
                    </li>
                </ul>
            -->
            <div class="neos-contentcollection">
                {{ content }}
            </div>
        </aside>
        
        <nav class="cont_right">
            <div class="neos-contentcollection"></div>
            <div class="neos-contentcollection">
                
                <div class="right_links">Important dates</div>
                
                <div class=" typo3-neos-nodetypes-text">
                    <div>
                        <p>
                            {% capture my_include %}{% include important_dates.md %}{% endcapture %}
                            {{ my_include | markdownify }}
                        </p>
                    </div>
                </div>
                
                <a class="right_links" href="/">
                    <div>Contact Us</div>
                </a>
                
                <div class=" typo3-neos-nodetypes-text">
                    <div>
                        <p>
                            {% capture my_include %}{% include contact.md %}{% endcapture %}
                            {{ my_include | markdownify }}
                        </p>
                    </div>
                </div>
            </div>
        </nav>
        
        
        <footer class="footer">
            <div class="in">
                ©  2018 <a href="http://www.i-teletraffic.org">i-teletraffic.org</a> 
                {% assign pages = site.pages | sort: "menu-index" | where:"menu","footer-nav" %}
                {% for p in pages %}
                     | <a href="{{ p.url | relative_url }}">{{ p.title }}</a>
                {% endfor %} 
                <a href="https://twitter.com/ITC_Tweets" alt="Join Us on Twitter!" target="_blank">
                    <img src="assets/images/twss_icon.png" width="25" alt="">
                </a>
                &nbsp; 
                <a href="https://www.linkedin.com/grp/home?gid=8260384" target="_blank" alt="Join Us on Linked.in!">
                    <img src="assets/images/li_icon.png" width="25" alt="">
                </a>
            </div>
        </footer>
    </body>
    </html>